<!doctype html>
<html lang="en">
<head>
    {{> header}}
    <script src="/static/detalhes.js" defer></script>
    <title>Cadastro</title>
</head>
<body class="m-lg-5">
<h1 class="mb-lg-5">Detalhes</h1>

<form>
    <h5 class="col-lg-12">Personal data</h5>
    <div class="d-flex flex-row justify-content-start">
        <div class="form-group col-lg-3">
            <label for="buyerName">Name</label>
            <input type="text" class="form-control" id="buyerName" disabled>
        </div>
        <div class="form-group col-lg-3 mx-3">
            <label for="buyerEmail">Email</label>
            <input type="email" class="form-control" id="buyerEmail" disabled>
        </div>
        <div class="form-group col-lg-3">
            <label for="buyerCpf">CPF</label>
            <input type="text" class="form-control" id="buyerCpf" disabled>
        </div>
    </div>
    <h5 class="mt-lg-5">Payment data</h5>
    <div class="d-flex flex-row justify-content-start">
        <div class="form-group col-lg-3">
            <label for="paymentAmount">Amount</label>
            <input type="text" class="form-control" id="paymentAmount" disabled>
        </div>
        <div class="form-group col-lg-3 mx-3">
            <label for="paymentMethod">Payment method</label>
            <input type="text" class="form-control" id="paymentMethod" disabled>
        </div>
        <div class="form-group col-lg-3">
            <label for="paymentStatus">Status</label>
            <input type="text" class="form-control" id="paymentStatus" disabled>
        </div>
    </div>
    <div id="cardData" style="display: none;">
        <h5 class="col-lg-12 mt-lg-5">Card data</h5>
        <div class="d-flex flex-row justify-content-start">
            <div class="form-group col-lg-3">
                <label for="cardHolder">Name</label>
                <input type="text" class="form-control" id="cardHolder" placeholder="Enter card holder name">
            </div>
            <div class="form-group col-lg-3 mx-3">
                <label for="cardNumber">Email</label>
                <input type="email" class="form-control" id="cardNumber" placeholder="Enter card number">
            </div>
            <div class="form-group col-lg-2 mx-3">
                <label for="cardExp">Expiration</label>
                <input type="text" class="form-control" id="cardExp" placeholder="Enter card expiration">
            </div>
            <div class="form-group col-lg-2 mx-3">
                <label for="cardCvc">CVC</label>
                <input type="text" class="form-control" id="cardCvc" placeholder="Enter card CVC">
            </div>
        </div>
    </div>

    <a class="mt-lg-5 btn btn-outline-primary" href="http://localhost:3000/">Voltar</a>
</form>


</body>
</html>