<!doctype html>
<html lang="en">
<head>
    {{> header}}
    <script src="/static/index.js" defer></script>
    <title>Lista de Pagamentos</title>
</head>
<body class="m-lg-5">
<h1 class="mb-lg-5">Pagamentos</h1>
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>Id</th>
        <th>Amount</th>
        <th>Payment method</th>
        <th>Status</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Row 1 Data 1</td>
        <td>Row 1 Data 2</td>
        <td>Row 1 Data 3</td>
        <td>Row 1 Data 4</td>
        <td>Row 1 Data 5</td>
    </tr>
    <tr>
        <td>Row 2 Data 1</td>
        <td>Row 2 Data 2</td>
        <td>Row 2 Data 3</td>
        <td>Row 2 Data 4</td>
        <td>Row 2 Data 5</td>
    </tr>
    </tbody>
</table>
<button id="new-payment" class="mt-lg-5 btn btn-primary">Cadastrar novo pagamento</button>
</body>
</html>